html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.required-label:after {
    content: " *";
    color: red;
}

.form-group {
    margin-bottom: 10px;
}

.dataTables_filter {
    margin-bottom: 15px;
}

tbody, td, tfoot, th, thead, tr {
    border-color: rgba(0, 0, 0, 0.11) !important;
    border-style: none;
}

thead {
    background-color: white;
}

table.dataTable thead th {
    font-weight: normal;
    text-align: center;
}

.table {
    border: 1px solid rgba(0, 0, 0, 0.11) !important;
    border-radius: 5px;
}

.dataTables_wrapper .dataTables_filter input {
    background-color: white;
}

table.dataTable tbody tr.selected > * {
    box-shadow: inset 0 0 0 9999px rgb(134 183 255 / 90%) !important;
}

table.dataTable.display > tbody > tr.even.selected > .sorting_1, table.dataTable.order-column.stripe > tbody > tr.even.selected > .sorting_1 {
    box-shadow: inset 0 0 0 9999px rgb(134 183 255 / 90%) !important;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria div.dtsb-inputCont input.dtsb-value {
    background-color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: .1em .5em;
}

label {
    display: flex;
    gap: 10px;
    align-items: center;
}

.dataTables_wrapper {
    padding: 10px;
    background: #f7f7f7;
    border-radius: 5px;
}

dd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataTable {
    overflow: auto;
    margin: 0 !important;
    border-collapse: collapse !important;
    border-radius: 0 !important;
    width: 100% !important;
}

td {
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-dropDown,
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria div.dtsb-inputCont input.dtsb-value {
    height: 30px;
    padding-top: 4px;
    padding-left: 10px;
    max-width: 150px;
    min-width: 150px;
    max-height: 30px;
    font-size: 0.9em !important;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria {
    margin-bottom: 0;
}

.btn-light {
    height: auto;
    padding: 5px !important;
    margin-top: 5px !important;
}

div.dtsb-searchBuilder button.dtsb-button {
    color: #fff;
    background: #6c757d !important;
    border-color: #565e64;
    border-radius: 3px;
    border-color: transparent;
}

div.dtsb-searchBuilder button.dtsb-button:hover {
    background-color: #5c636a !important;
}

div .dtsb-searchBuilder div.dtsb-group div.dtsb-criteria div.dtsb-buttonContainer button.dtsb-right, div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria div.dtsb-buttonContainer button.dtsb-left {
    margin-right: 0.2em !important;
    width: 30px;
    height: 30px;
    padding: 0px !important;
}

div .dtsb-searchBuilder div.dtsb-group div.dtsb-criteria div.dtsb-buttonContainer button.dtsb-delete:last-child {
    width: 30px;
    height: 30px;
    padding: 0px !important;
}

div.dtsb-searchBuilder button.dtsb-button, div.dtsb-searchBuilder select {
    font-size: 0.9em !important;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-logicContainer button.dtsb-clearGroup {
    padding-top: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 0px 3px 3px 0px !important;
    border-color: transparent;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-logicContainer button.dtsb-logic {
    padding-top: 4px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 3px 0px 0px 3px !important;
    border-color: transparent;
    height: 38px;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    background: #6c757d !important;
    border-color: #565e64 !important;
    border-radius: 3px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
    border-radius: 3px;
}

div.dt-button-collection a.dt-button.active:not(.disabled) {
    background: unset !important;
    background-color: #6c757d !important;
}

div.dt-buttons {
    float: right;
    margin-left: 10px;
}

.text-bg-danger {
    background-color: #e95757;
}

.text-bg-success {
    background-color: #80c769;
}
