@using ISPRO.Persistence.Enums
@model ISPRO.Persistence.Entities.CashPayment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Subscription</h1>

<h4>@Model.Id</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <span asp-validation-for="ModelError" class="text-danger"></span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserAccountName" class="control-label"></label>
                <select asp-for="UserAccountName" class="form-control" asp-items="ViewBag.UserAccountName"></select>
                <span asp-validation-for="UserAccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RechargePeriod" class="control-label"></label>
                <input asp-for="RechargePeriod" class="form-control" />
                <span asp-validation-for="RechargePeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ammount" class="control-label"></label>
                <input asp-for="Ammount" class="form-control" type="number" />
                <span asp-validation-for="Ammount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <select asp-for="Currency" class="form-select" asp-items="Html.GetEnumSelectList<Currency>()">
                </select>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
