@using ISPRO.Persistence.Enums
@using ISPRO.Web.Authorization
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISPRO.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/jquery-datetimepicker/css/jquery.datetimepicker.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/FixedColumns-4.1.0/css/fixedColumns.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/SearchBuilder-1.3.4/css/searchBuilder.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/Buttons-2.2.3/css/buttons.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/Select-1.4.0/css/select.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/overlay.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ISPRO.Web.styles.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: bold;"><i class="bi bi-browser-edge"></i> ISPRO.WEB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="bi bi-list"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if ((AuthorizationService.AuthorizeAsync(User, UserLevelAuth.ADMIN.ToString())).Result.Succeeded)
                            {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="ManagerAccounts" asp-action="Index"><i class="bi bi-person-workspace"></i>Managers</a>
                                    </li>
                            }

                            if ((AuthorizationService.AuthorizeAsync(User, UserLevelAuth.SUPERUSER.ToString())).Result.Succeeded)
                            {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index"><i class="bi bi-box"></i>Projects</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Subscriptions" asp-action="Index"><i class="bi bi-boxes"></i>Subscriptions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="UserAccounts" asp-action="Index"><i class="bi bi-people"></i>Users</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="PrepaidCards" asp-action="Index"><i class="bi bi-credit-card-2-front"></i>Prepaid Cards</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="CashPayments" asp-action="Index"><i class="bi bi-cash-coin"></i>Cash Payments</a>
                                    </li>
                            }

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-shield-check"></i>Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs"><i class="bi bi-headset"></i>Contact Us</a>
                                </li>
                                <li class="nav-item" style="flex-grow: 1;"></li>

                            if ((AuthorizationService.AuthorizeAsync(User, UserLevelAuth.AUTHENTICATED.ToString())).Result.Succeeded){
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="bi bi-person-fill"></i>@User.Identity.Name </a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            @if (!(AuthorizationService.AuthorizeAsync(User, UserLevelAuth.SUPERUSER.ToString())).Result.Succeeded){
                                            <li><a class="dropdown-item" asp-action="Details" asp-controller="UserAccounts" asp-route-id="@User.Identity.Name"><i class="bi bi-person-badge"></i>Profile</a></li>
                                            }
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Authentication" asp-action="Logout"><i class="bi bi-box-arrow-left"></i>Logout</a></li>
                                        </ul>
                                    </li>
                            }else{
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Login"><i class="bi bi-box-arrow-in-right"></i>Login</a>
                                    </li>
                            }
                        }
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div id="overlay">
            <div class="loader"></div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: white;margin-top:100px">
        <div class="container footer-item">
            &copy; 2022 - ISPRO.WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/lib/jquery-datetimepicker/js/jquery.datetimepicker.js"></script>
    <script src="~/lib/datatables/FixedColumns-4.1.0/js/dataTables.fixedColumns.min.js"></script>
    <script src="~/lib/datatables/SearchBuilder-1.3.4/js/searchBuilder.bootstrap5.min.js"></script>
    <script src="~/lib/datatables/Buttons-2.2.3/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables/Select-1.4.0/js/select.bootstrap5.min.js"></script>
    <script src="~/lib/datatables/Buttons-2.2.3/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables/Buttons-2.2.3/js/buttons.colVis.min.js"></script>

    <script>
        function fade(element) {
            var op = 1;  // initial opacity
            var timer = setInterval(function () {
                if (op <= 0.1) {
                    clearInterval(timer);
                    element.style.display = 'none';
                }
                element.style.opacity = op;
                element.style.filter = 'alpha(opacity=' + op * 100 + ")";
                op -= op * 0.1;
            }, 10);
        }

        var dateInputMask = function dateInputMask(elm) {
            elm.addEventListener('keypress', function (e) {
                if (e.keyCode < 47 || e.keyCode > 57) {
                    e.preventDefault();
                }

                var len = elm.value.length;

                // If we're at a particular place, let the user type the slash
                // i.e., 12/12/1212
                if (len !== 1 || len !== 3) {
                    if (e.keyCode == 47) {
                        e.preventDefault();
                    }
                }

                // If they don't add the slash, do it for them...
                if (len === 2) {
                    elm.value += '/';
                }

                // If they don't add the slash, do it for them...
                if (len === 5) {
                    elm.value += '/';
                }
            });
        };


        $(document).ready(function () {
            try {
                let cols = [];
                $('th').each(function (i, obj) {
                    if ($(obj).hasClass('type-date')) {
                        cols.push({
                            searchBuilderType: 'moment-DD/MM/YYYY',
                            type: 'date',
                        });
                    } else if ($(obj).hasClass('type-bool')) {
                        let trueVerb = $(obj).attr('true-verb');
                        let falseVerb = $(obj).attr('false-verb');
                        let reversed = ($(obj).attr('reversed-bool') == 'true');
                        let trueBadgeClass = (reversed ? 'badge rounded-pill text-bg-danger' : 'badge rounded-pill text-bg-success')
                        let falseBadgeClass = (reversed ? 'badge rounded-pill text-bg-success' : 'badge rounded-pill text-bg-danger')
                        $('tbody tr td:nth-child(' + (i + 1) + ')').each(function (j, td) {
                            let chk = $(td).find('input[type="checkbox"]').first();
                            let v = chk.is(":checked");
                            if (v) {
                                $(td).append('<span class="' + trueBadgeClass + '">' + trueVerb + '</span>');
                            } else {
                                $(td).append('<span class="' + falseBadgeClass + '">' + falseVerb + '</span>');
                            }
                            chk.css("display", "none");
                        });
                        cols.push(null);
                    } else {
                        cols.push(null);
                    }
                });

                $('.table').DataTable({
                    scrollX: true,
                    fixedHeader: true,
                    dom: 'QBlfrtip', //Qfrtip
                    select: true,
                    pagingType: 'full_numbers',
                    lengthMenu: [
                        [10, 50, 100, -1],
                        [10, 50, 100, 'All'],
                    ],
                    buttons: [
                        {
                            extend: 'print',
                            text: 'Print all',
                            exportOptions: {
                                columns: ':visible',
                                modifier: {
                                    selected: null
                                }
                            }
                        },
                        {
                            extend: 'print',
                            text: 'Print selected'
                        },
                        'colvis'
                    ],
                    "columns": cols,
                });

                $('select').each(function (i, obj) {
                    $(obj).removeClass('form-control').addClass('form-select').css('min-width', '60px').val($(obj).val());
                });

                $('input[type="datetime-local"]').each(function (i, obj) {
                    let v = '';
                    if ($(obj).attr('value') != '') {
                        if ($(obj).attr('value').endsWith('Z')) {
                            v = moment(new Date($(obj).attr('value'))).format('DD/MM/YYYY')
                        } else {
                            v = $(obj).attr('value')
                        }
                    } else {
                        v = moment(new Date()).format('DD/MM/YYYY');
                    }

                    $(obj).attr('type', 'datetime');
                    $(obj).datetimepicker({ format: 'd/m/Y', });
                    $(obj).val(v);
                    $(obj).parent().append('<i style="position: absolute;right: 12px;top: 31px;" class="bi bi-calendar-week"></i>');
                    $(obj).closest('.form-group').css('position', 'relative');
                    dateInputMask($(obj)[0]);
                });

                $('form').submit(function () {
                    if ($(this).valid()) {
                        $('input[type="datetime"]').each(function (i, obj) {
                            if ($(obj).val() != '') {
                                let v = $(obj).val();
                                let [day, month, year] = v.split('/');
                                $(obj).val(year + '-' + month + '-' + day + 'T00:00:00.000Z');
                            }
                        });
                    }
                    return true;
                });

                $('[data-val-required]').each((i, o) => {
                    $(o).closest('.form-group').find('.control-label').addClass('required-label')
                });
            }
            catch (err) {
                console.error(err);
            }
            setTimeout(
                function () {
                    fade(document.getElementById('overlay'));
                }, 500);
        });
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
