<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISPRO.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/jquery-datetimepicker/css/jquery.datetimepicker.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ISPRO.Web.styles.css" asp-append-version="true" />
    
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ISPRO.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="bi bi-list"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ManagerAccounts" asp-action="Index">Managers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: white;margin-top:100px">
        <div class="container footer-item">
            &copy; 2022 - ISPRO.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-datetimepicker/js/jquery.datetimepicker.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.table').DataTable();
            $('.table').addClass('display');
            $('p a').addClass('btn btn-primary').css('float','right').css('margin-bottom','10px');
            $("a:contains('Edit')").html('<i class="bi bi-pencil-square"></i>');
            $("a:contains('Delete')").html('<i class="bi bi-trash" style="color:red; margin-left:10px"></i>');
            $('select').each(function(i, obj) {
               $(obj).removeClass('form-control').addClass('form-select').css('min-width','60px').val($(obj).val());
            });
            $('input[type="datetime-local"]').each(function(i, obj) {
               $(obj).attr('type','text').attr('readonly');
               $(obj).datetimepicker({format: 'm/d/Y, H:i:s',});
               $(obj).parent().append('<i style="position: absolute;right: 12px;top: 31px;" class="bi bi-calendar-week"></i>');
               $(obj).closest('.form-group').css('position','relative');
            });
            
        });
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
