@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
<style>
    body {
        background-image: url("img/main.jpg");
        object-fit: cover;
        display: block;
        vertical-align: middle;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .navbar {
        background-color: #0000008c !important;
        border-bottom: none !important;
    }

    .border-top {
        background-color: #0000008c !important;
        border-top: none !important;
    }

    .navbar-light .navbar-brand {
        color: #00c3ff;
    }

        .navbar-light .navbar-brand:hover {
            color: #a6eaff;
        }

    .nav-link {
        color: #ffffffed !important;
    }

        .nav-link:hover {
            color: #9ae3ffed !important;
        }

    .footer-item {
        color: #93cbfd;
    }

    .navbar-toggler {
        color: white !important;
    }

</style>
}

<div class="row" style="margin: 20vh auto 0;width:100%">
    <div style="margin-bottom:10px" class="text-center col-md-12 col-sm-12">
        <h1 class="display-4" style="color: #ffffff !important;font-weight: 400;text-shadow: 2px 2px 8px rgba(0,0,0,0.4);font-size: 3rem;">Join ISPRO enterprise system management solution for local internet service providers</h1>
            <a asp-action="ContactUs" class="btn btn-primary" style="margin-top: 50px;">Join Now</a>
    </div>
    </div>
</div>
